:root {
    --primary-color: #feae2a;
    --secondary-color: #f95f12;
}

.name-role {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

.has-subtext {
    margin-bottom: 0;
}

/*  This is the latin type of the japanese name above
    It's italic and smaller and right belo the name-role */
.subtext {
    font-style: italic;
    font-size: 14px;
    color: gray;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}

.logo {
    display: block;
    margin: 0 auto;
    background: #f8f9fa;
}

.visible-light {
    display: block;
}

.visible-dark {
    display: none;
}

#support-us {
    width: 160px;
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
    .visible-dark {
        display: block;
    }

    .visible-light {
        display: none;
    }
}
